* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #eeeeee;
}

.main-title {
    font-size: 40px;
}

.main-list {
    list-style: none;
}

.main-list li a {
    color: black;
}

h1 {
    font-size: 24px;
    color: #ee9900;
}

h2 {
    font-size: 20px;
}